.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What's your event?", value=event.title)
.form-group
  label(for="location") Location
  input.form-control(type="text", name="location", placeholder="Where's the place?", value=event.location)  
.form-row
  .form-group-col-md-5
    label(for="when") Start Date
    br
    input.form-control(type="date" id="userdate" placeholder="2017-12-09" name="stdate" value=event.stdate)
    br
    | Start Time
    br
    input.form-control(type="time" placeholer="오전 10:00" name="sttime"  value=event.sttime)
  .form-group-col-md-5
    label(for="when") End Date
    br
    input.form-control(type="date" id="userdate" placeholder="2017-12-09" name="endate" value=event.endate)
    br
    | End Time
    br
    input.form-control(type="time" placeholer="오전 10:00" name="endtime"  value=event.endtime)
br
.form-group
  | Ticket Price (* Enter 0 yen for free ticket)
  br
  input.form-control(type="number" name="price" value=event.price) 
.form-group
  label(for="event") Event Description
  textarea.form-control(name="content", rows="5")= event.content
.form-group
  label(for="organization") Organization Name
  input.form-control(type="text" name="organization" value=event.organization)
.form-group
  label(for="organization") Organization Description
  textarea.form-control(name="orcontent", rows="5")= event.orcontent
//- .form-group
//-   select(id="type" name='eventType')
//-   script.
//-     for name in eventType
//-       option(value=name, check=(name==Event.eventType))= name
.from-group
  label(for="inputState") Event Type
  select(id="inputState", class="form-control" name="type" value=event.type)
    option Choose
    option Appearance or Signing
    option Attraction
    option Camp,Trip, or Retreat
    option Class, Training, or Workshop
    option Concert or Performance
    option Conference
    option Convention
    option Dinner or Gala
    option Festival or Fair
    option Game or Competition
    option Meeting or Networking Event
    option Other
    option Tour
br
.form-group
  label(for=topic) Event Topic
   select(id="inputState", class="form-control" name="topic" value=event.topic)
    option Business & Professional
    option Charity & Causes
    option Community & Culture
    option Family & Education
    option Fashion & Beauty
    option Film, Media & Entertainment
    option Food & Drink
    option Government & Politics
    option Health & Wellness
    option Hobbies & Special Interest
    option Home & Lifestyle
    option Music
    option Other